################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MyApp.User/MyApp.User/bin/Debug/net6.0/MyApp.User.pdb
/MyApp.User/MyApp.User/bin/Debug/net6.0/MyApp.User.dll
/MyApp.User/MyApp.User/bin/Debug/net6.0/MyApp.DAL.pdb
/MyApp.User/MyApp.User/bin/Debug/net6.0/MyApp.DAL.dll
/MyApp.User/MyApp.User/obj/Debug/net6.0/ref/MyApp.User.dll
/MyApp.User/MyApp.User/obj/Debug/net6.0/refint/MyApp.User.dll
/MyApp.User/MyApp.User/obj/Debug/net6.0/MyApp.User.pdb
/MyApp.User/MyApp.User/obj/Debug/net6.0/MyApp.User.dll
/MyApp.User/MyApp.User/obj/Debug/net6.0/MyApp.User.csproj.CoreCompileInputs.cache
/MyApp.User/MyApp.User/obj/Debug/net6.0/MyApp.User.csproj.AssemblyReference.cache
/MyApp.User/MyApp.DAL/bin/Debug/net6.0/MyApp.DAL.pdb
/MyApp.User/MyApp.DAL/bin/Debug/net6.0/MyApp.DAL.dll
/MyApp.User/MyApp.DAL/obj/Debug/net6.0/ref/MyApp.DAL.dll
/MyApp.User/MyApp.DAL/obj/Debug/net6.0/refint/MyApp.DAL.dll
/MyApp.User/MyApp.DAL/obj/Debug/net6.0/MyApp.DAL.dll
/MyApp.User/MyApp.DAL/obj/Debug/net6.0/MyApp.DAL.pdb
/MyApp.User/.vs/MyApp.User/DesignTimeBuild/.dtbcache.v2
/MyApp.User/.vs/MyApp.User/FileContentIndex/fc03e0ac-907e-484e-86b2-6a7f7522ad46.vsidx
/MyApp.User/.vs/MyApp.User/FileContentIndex/e0c5ff33-0507-42af-85d5-40c847f04849.vsidx
/MyApp.User/.vs/MyApp.User/FileContentIndex/92947ae5-9a99-4b18-b645-a84c330bfee2.vsidx
/MyApp.User/.vs/MyApp.User/FileContentIndex/74468a03-be59-4dcd-a29f-955f782dd175.vsidx
/MyApp.User/.vs/MyApp.User/FileContentIndex/48954258-49ba-499c-bf16-dc994c8ac648.vsidx
/MyApp.User/.vs/MyApp.User/FileContentIndex/1a792957-d7b9-4c74-ad14-61e0856fcd4a.vsidx
/MyApp.User/.vs/MyApp.User/FileContentIndex/04ba55f8-1ef0-4c9e-ae65-9454b5b32a05.vsidx
/MyApp.User/.vs/MyApp.User/FileContentIndex/0368feaf-b76f-4185-ad46-99d983143e94.vsidx
/MyApp.User/.vs/ProjectEvaluation/myapp.user.projects.v6.1
/MyApp.User/.vs/ProjectEvaluation/myapp.user.metadata.v6.1
/MyApp.User/.vs/MyApp.User/v17/.futdcache.v2
/MyApp.User/Identity/bin/Debug/net6.0
/MyApp.User/Identity.DAL/bin/Debug/net6.0
/MyApp.User/Identity.DAL/obj
/MyApp.User/Identity/obj/Debug/net6.0/ref/Identity.dll
/MyApp.User/Identity/obj/Debug/net6.0/refint/Identity.dll
/MyApp.User/Identity/obj/Debug/net6.0/Identity.pdb
/MyApp.User/Identity/obj/Debug/net6.0/Identity.dll
/MyApp.User/Identity/obj/Debug/net6.0/Identity.csproj.CoreCompileInputs.cache
/MyApp.User/Identity/obj/Debug/net6.0/Identity.csproj.BuildWithSkipAnalyzers
/MyApp.User/Identity/obj/Debug/net6.0/Identity.csproj.AssemblyReference.cache
